{% extends 'story7/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="d-flex flex-column text-center justify-content-center align-align-middle">
            <p>You are logged in as {{ user }}</p>
            <a href="{% url "story9:story9_logout" %}"><button>Logout</button></a>
        </div>
    {% else %}
        <div class="d-flex flex-column text-center justify-content-center align-align-middle">
            <p>You are not logged as a User. You are currently browsing as {{ user }}</p>
            <p>Login?</p>
            <a href="{% url "story9:story9_login" %}"><button>Login</button></a>
        </div>
    {% endif %}
{% endblock content %}