{% extends 'story7/base.html' %}

{% block content %}
    <div class="d-flex flex-column text-center justify-content-center align-align-middle">
        <a href="{% url "story9:story9" %}"><button type="">Home</button></a>
    {% if not user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}    
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account?</p>
        <a href="{% url "story9:story9_signup" %}"><button type="">Signup</button></a>
    {% endif %}
    </div>
{% endblock content %}