{% extends 'story7/base.html' %}

{% block content %}
    <ul>
        <li><a href="{% url "story9:story9" %}">Back</a></li>
    </ul>
    <p>Yakin mau logout?</p>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" name="logout" value="Logout">
    </form>
{% endblock content %}