{% extends 'story7/base.html' %}

{% block content %}
    <div class="d-flex flex-column">
        <a href="{% url "story9:story9" %}"><button type="">Home</button></a>
        <form method="POST">
            {% csrf_token %}
            <table class="table table-borderless">
                {% for field in form %}
                    <tr>
                        <td>{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
            </table>
            <input type="submit" name="submit-button" value="Sign Up">
        </form>
    </div>
{% endblock content %}