<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'story7/css/index.css' %}" />
        {% block stylesheet %}
        {% endblock stylesheet %}
        <title>
            {% block page_title %}
            {% endblock page_title %}
        </title>
    </head>
    <body>
        <header class="position-sticky sticky-top">
            {% include 'story7/snippets/navbar.html' %}
        </header>
        {% block content %}
        
        {% endblock content %}

        <script type="text/javascript" src="{% static 'story7/js/jquery-3.4.1.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'story7/js/index.js' %}"></script>
        {% block javascript %}
            
        {% endblock javascript %}
        
    </body>
</html>     