{% extends 'story7/base.html' %}

{% load static %}

{% block page_title %}
    {{ title }}
{% endblock page_title %}

{% block content %}
    <div class="container my-4 mx-6" id="main-container">
        <div class="container d-flex justify-content-center" id="pacifico-font">
            <h1>Accordion - Story 7</h1>
        </div>    
        <section class="nav-wrap">
            <nav class="acnav" role="navigation">
                <ul class="acnav__list acnav__list--level1">
                    <li class="has-children">
                        <div class="acnav__label" id="kegiatan_header">
                            Kegiatan
                        </div>
                        <ul class="acnav__list acnav__list--level2">
                            {% if not kegiatan %}
                                <li>
                                    <p class="acnav__link acnav__link--level2" href="">No Nothing here</p>
                                </li>
                            {% else %}
                                {% for obj in kegiatan %}
                                    <li class="has-children">
                                        <div class="acnav__label acnav__label--level2">
                                            {{ obj.name }}
                                        </div>
                                        <ul class="acnav__list acnav__list--level3">
                                            <li>
                                                <div class="container">
                                                    <p>{{ obj.desc }}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </li>

                    <li class="has-children">
                        <div class="acnav__label" id="organisasi_header">
                            Organisasi
                        </div>
                        <ul class="acnav__list acnav__list--level2">
                            {% if not organisasi %}
                                <li>
                                    <p class="acnav__link acnav__link--level2" href="">No Nothing here</p>
                                </li>
                            {% else %}
                                {% for obj in organisasi %}
                                    <li class="has-children">
                                        <div class="acnav__label acnav__label--level2">
                                            {{ obj.name }}
                                        </div>
                                        <ul class="acnav__list acnav__list--level3">
                                            <li>
                                                <div class="container text-justify">
                                                    <p><b>Date:</b> {{ obj.date }}</p>
                                                    <p><b>Position:</b> {{ obj.position }}</p>
                                                    <p><b>Description:</b> {{ obj.description }}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                    <!-- start group 3 -->
                    <li class="has-children">
                        <div class="acnav__label" id="kepanitiaan_header">
                            Kepanitiaan
                        </div>
                        <ul class="acnav__list acnav__list--level2">
                            {% if not kepanitiaan %}
                                <li>
                                    <p class="acnav__link acnav__link--level2" href="">No Nothing here</p>
                                </li>
                            {% else %}
                                {% for obj in kepanitiaan %}
                                    <li class="has-children">
                                        <div class="acnav__label acnav__label--level2">
                                            {{ obj.name }}
                                        </div>
                                        <ul class="acnav__list acnav__list--level3">
                                            <li>
                                                <div class="container text-justify">
                                                    <p><b>Date:</b> {{ obj.date }}</p>
                                                    <p><b>Position:</b> {{ obj.position }}</p>
                                                    <p><b>Description:</b> {{ obj.description }}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </li>	
                </ul>
            </nav>
        </section>
    </div>
{% endblock content %}
