.search{
    width: 60%;
    position: relative;
    display: flex;
    align-self: center;
}

.search-box{
    width: 100%;
    border: 3px solid var(--secondary-color);
    border-right: none;
    padding: 6px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: var(--secondary-color);
}

.search-box:focus{
    color: var(--heading-color);
}

.search-button{
    width: 40px;
    height: 36px;
    border: 1px solid var(--secondary-color);
    background: var(--secondary-color);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

h4{
    color: var(--secondary-color);
}

div .no-books{
    display: none;
}

.table .thead-custom th{
    color: white;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.table tbody {
    color : var(--secondary-color)
}