{% extends 'landing/base.html' %}

{% block content %}
    <div class="text-center">
        <h1>Halo, apa kabar?!</h1>
    </div>
    
    <form method="POST" class="text-center">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="submit-button">Submit</button>
    </form>
    
    {% if not status %}
        <div class='d-flex justify-content-center mt-md-3'>
            <p>Mohon maaf, tidak ada Status yang dapat ditampilkan.</p>
        </div>
    {% else %}
        <div class='table-responsive col-md-6 mt-md-3 mx-auto'>
            <table class='table table-striped'>
                <thead class='thead-dark'>
                    <tr>
                        <th scope='col' class='align-middle'>#</th>
                        <th scope='col' class='align-middle'>Status</th>
                        <th scope='col' class='align-middle'>Tanggal/Waktu</th>
                    <tr>
                </thead>
                <tbody>
                    {% for obj in status %}
                        <tr>
                            <th scope='row' class='align-middle'>{{forloop.counter}}</th>
                            <td class='align-middle'>{{obj.status}}</th>
                            <td class='align-middle'>{{obj.date_created}}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            <table>
        </div>
    {% endif %}
{% endblock content %}
