{% extends 'story7/base.html' %}
{% load static %}
{% block page_title %}
    {{ title }}
{% endblock page_title %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'story8/css/index8.css' %}" />
{% endblock stylesheet %}

{% block content %}
    <div class="container d-flex justify-content-center my-5" id="pacifico-font">
        <h1>AJAX - Story 8</h1>
    </div> 
    <div class="container d-flex justify-content-center">
        <form class="search">
            <input type="text" class="search-box" name="search-box" placeholder="What book are you looking for?">
            <button type="submit" class="search-button">
                <i class="fa fa-search"></i>    
            </button>
        </form>
    </div>
    <div class="container d-flex justify-content-center mt-5 mb-2" id="pacifico-font">
        <h4 class="no-books"></h4>
    </div>
    <div class="container d-flex justify-content-center">
        <table class="table no-books">
            <thead class="thead-custom">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cover</th>
                    <th scope="col">Book Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Pages</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>     
    </div>
{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'story8/js/index8.js' %}"></script>
{% endblock javascript %}