@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --primary-color: rgb(42, 124, 230);
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
  --label-color: #fcfcfc;
  --label-color-hover: #e3e3e3;
  --level-1: #253962;
  --hover-level-1: #3b4d72;
  --level-2: #3b4d72;
  --hover-level-2: #516181;
  --desc-bg: purple;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
  --label-color: #cbd0d9;
  --label-color-hover: #b9c0cd;
  --level-1: #516181;
  --hover-level-1: #667491;
  --level-2:#667491;
  --hover-level-2: #7c88a1;
  --desc-bg: purple;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .nav-wrap {
    width: 100%;
    margin: 1em auto 0;
  }
  @media (min-width: 992px) {
    .nav-wrap {
      width: 50%;
    }
  }
  [hidden] {
    display: none;
    visibility: hidden;
  }
  .acnav {
    width: 100%;
  }
  .acnav__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .acnav__list--level1 {
    border: 1px solid var(--level-1);
  }
  .has-children > .acnav__label::before {
    content: "\f067";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    margin-right: 1em;
    transition: transform 0.3s;
  }
  .has-children.is-open > .acnav__label::before {
    transform: rotate(405deg);
  }
  .acnav__link, .acnav__label {
    display: block;
    font-size: 1rem;
    padding: 1em;
    margin: 0;
    cursor: pointer;
    color: var(--label-color);
    background: var(--level-1);
    box-shadow: inset 0 -1px var(--level-1);
    transition: color 0.25s ease-in, background-color 0.25s ease-in;
  }
  .acnav__link:focus, .acnav__label:focus, .acnav__link:hover, .acnav__label:hover {
    color: var(--label-color-hover);
    background: var(--hover-level-1);
  }
  .acnav__link--level2, .acnav__label--level2 {
    padding-left: 3em;
    background: var(--level-2);
  }
  .acnav__link--level2:focus, .acnav__label--level2:focus, .acnav__link--level2:hover, .acnav__label--level2:hover {
    background: var(--hover-level-2);
  }
  .acnav__link--level3, .acnav__label--level3 {
    padding-left: 5em;
    background: #296272;
  }
  .acnav__link--level3:focus, .acnav__label--level3:focus, .acnav__link--level3:hover, .acnav__label--level3:hover {
    background: #255867;
  }
  .acnav__list--level2, .acnav__list--level3 {
    display: none;
  }
  .is-open > .acnav__list--level2, .is-open > .acnav__list--level3 {
    display: block;
  }