{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" id="pacifico-font" href="#"><b class="text-primary">Salman's Story</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav pacifico-font">
    <a class="nav-item nav-link text-secondary" id="pacifico-font" href="{% url 'landing:landing' %}">Story 6</a>
    <a class="nav-item nav-link text-secondary" id="pacifico-font" href="{% url 'story7:story7' %}">Story 7</a>
    <a class="nav-item nav-link text-secondary" id="pacifico-font" href="{% url 'story8:story8' %}">Story 8</a>
    <a class="nav-item nav-link text-secondary" id="pacifico-font" href="{% url 'story9:story9' %}">Story 9</a>
  </div>
    <div class="theme-switch-wrapper float-right">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round" id="toggle-button"></div>
        </label>
        <em >Enable Dark Mode!</em>
    </div>
</nav>